body {
    background-color: rgb(255, 234, 238);
}

header {
    background-color: purple;
    color: white;

    a {
        color: white;
        text-decoration: none;
        padding: 10px;
        &:hover {
            border: 2px solid white;
            border-radius: 20px 0px 20px 0px;
            color: white;
            padding: 10px;
        }
    }
}

main {
    color: purple;

    div .tablets {
        display: flex;
        margin: 20px;
        text-align: center;
        
        div {
            margin: 20px;
            padding: 20px;
            border: 2px solid purple;
            border-radius: 20px 0px 20px 0px;
            
            hr {
                border: 1px solid purple;
            }

            button {
                background-color: purple;
                color: white;
                padding: 10px;
                border: 1px solid purple;
                border-radius: 20px 0px 20px 0px;
            }
        }
    }
}