.square {
    width: 150px; 
    height: 150px;
    background-color:#36577a;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: rgb(117, 0, 25);
    border-radius: 100%;
}

img {
    width: 150px;
    height: 150px;
}